.wrapper.style2 {
    background: #192024;
    color: #c5c7c8;
}
.wrapper{
    padding: 4em 0 2em 0;
}

.wrapper.style2 h2 {
    color: #ffffff;
    

}
.team-image-container img {
    height: 160px;
    width: 160px;
}

.teamdot{
    max-width: none! important;
    min-width: 0!important;
    width:90%! important;
    
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
}
.member-social i {
    color: white;
}

.row{
    margin-left: 4em!important;

}
.row:not(.no-collapse):not(.collapse-at-4):not(.collapse-at-3):not(.collapse-at-2):first-child>:first-child {
    padding-top: 0!important;
}
.row:not(.flush):not(.no-collapse):not(.collapse-at-4):not(.collapse-at-3):not(.collapse-at-2):first-child>* {
    padding-top: 0px!important;
}
.row:not(.no-collapse):not(.collapse-at-4):not(.collapse-at-3):not(.collapse-at-2)>*:first-child {
    padding-top: 0px;
}
.row:not(.no-collapse):not(.collapse-at-4):not(.collapse-at-3):not(.collapse-at-2)>* {
    padding-top: 0px;
}
.row:not(.no-collapse):not(.collapse-at-4):not(.collapse-at-3):not(.collapse-at-2)>* {
    float: none!important;
    width: 100%!important;
    margin-left: 0!important;

}
.row>* {
    padding-left: 2.5em!important;
}
div {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
}
.member {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}
.team-container {
    display: inline-block;
    text-align: center;
}
.row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.team-image-container {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 75px;
    background: rgba(0, 0, 0, .1);
    margin: 0 auto;
}
.member-name {
    font-size: 16pt;
    color: white;
    font-family: OpenSans-Regular, sans-serif;
    margin-top: 10px;
}
.member-position {
    font-size: 14pt;
    font-family: OpenSans-Light, sans-serif;
    color: #a3a5a7;
}
.member-social {
    font-size: 20px;
    margin-top: 5px;
}






.contact{
color: black;
}
.btn3:hover,.btn4:hover{
  background-color:red;
  color: white;
}
#slider {
    background: url('../Picture/code2.jpg') no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-attachment: scroll;
        background-size: auto;
        background-size: cover;
        background-attachment: fixed;
        background-position: 10% 0%;
        padding: 200px 0 280px 0;
        position: relative;
}
#slider2 {
        background: url('../Picture/code4.jpg') no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-attachment: scroll;
        background-size: auto;
        background-size: cover;
        background-attachment: fixed;
        background-position: 10% 0%;
        padding: 200px 0 280px 0;
        position: relative;
}

#slider3 {
  background: url('../Picture/contact.jpg') no-repeat;
      background-position-x: 0%;
        background-position-y: 0%;
        background-attachment: scroll;

    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 0%;
padding: 180px 0 280px 0;
    position: relative;
}

.map{
text-align:center;
padding-top: 100px;
}
.col-md-offset-2 {
    margin-left: 16.66666667%;
}
.col-md-10 {
    width: 83.33333333%;
}
#slider .block {
    color: black;


}
#slider .block h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 10px;
    padding-bottom: 45px;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.bg-primary {
    background-color: #f032e6!important;
}
